@font-face {
    font-family: 'bit5x3'; 
    src: url('../font/bit5x3.woff') format('woff'), 
         url('../font/bit5x3.ttf') format('truetype'); 
}

body {
    background: black;
    color: white;
    font-family: 'bit5x3', Arial, sans-serif; 
    margin: 0;
    overflow: hidden;
}


#pongCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.score {
    position: absolute;
    top: 20px;
    font-size: 4em;
}

#playerScore {
    left: 45%;
}

#aiScore {
    right: 45%;
}